* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.form-tt{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #2E3740;
    color: #fff;
}
.auth-form{
    margin: 20px;
}
.auth-form__name{
    display: flex;
    
}
.flex{
    flex: 1;
}

.auth-form__group{
    display: flex;
    margin: 4px;
}
.auth-form__group label{
    width: 100px;
    padding: 4px;
}
.auth-form__input{
    width: 100%;
}





/*panigation*/
.pagination{
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-item{
    margin: 0 16px;
}
.pagination-item-active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.pagination-item__link{
    --height-30: 30px;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    display: block;
    text-align: center;
    font-size: 2rem;
    height: var(--height-30);
    line-height: var(--height-30);
    border-radius: 2px;
}